header {
      text-align: center;
      /*background: url("http://i.imgur.com/Zu2Y9iz.jpg");*/
      background-size: cover;
      color: black;
      border: 60px 0px 0px 0px;
    }
    #avatar {
      width: 200px;
      height: 200px;
      margin: 90px 0px 40px 0px;
      border-radius: 100px;
    }
    ul {
      font-family: helvetica;
      font-size: 22px;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      color: white;
    }
    article {
      font-family: helvetica;
      max-width: 500px;
      padding: 0px;
      margin: 0 auto;
    }
    button {
      border: 0px;
      padding: 1px;
      margin: 0px;
      font-family: helvetica;
      font-size: 10px;
      background: rgba(200, 0, 255, 0.5);
      cursor: pointer;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
    body{
  padding-top: 0px;
}
    #social-buttons button {
      color:white;
    }
    .btn-twitter {
      background-color:#00acee;
      border-color:#009ad5;
    }
    .btn-facebook{
      background-color:#4868ac;
      border-color:#314776;
    }
    .btn-tumblr {
      background-color:#35465c;
      border-color:#35465c;
    }
