header {
      text-align: center;
      background: url("http://i.imgur.com/y04DAOp.jpg");
      background-size: cover;
      color: black;
      border: 60px 0px 0px 0px;
      padding-bottom: 10px;
    }
    #navbar-brand {
      font-size: 22px;
    }
    img#avatar {
      width: 200px;
      height: 200px;
      margin: 90px 0px 40px 0px;
      border-radius: 100px;
    }
    ul {
      font-family: helvetica;
      font-size: 18px;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      color: white;
    }
    /* Trying to work out how to set the column widths and row heights to 300px so all the images are the same size*/
    img#thumbnail {
      width: 300px;
      height: 400px;
    }
    td {
      height: 400px;
    }
    button {
      border: 0px;
      padding: 1px;
      margin: 0px;
      font-family: helvetica;
      font-size: 10px;
      background: rgba(200, 0, 255, 0.5);
      cursor: pointer;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
    body{
  padding-top: 0px;
  font-size: 22px;
}
    #social-buttons {
      color: white;
      margin: auto;
      padding: 1px 1px 1px 1px;
      text-align: center;
    }
    .btn-twitter {
      background-color:#00acee;
      border-color:#009ad5;
    }
    .btn-facebook{
      background-color:#4868ac;
      border-color:#314776;
    }
    .btn-tumblr {
      background-color:#35465c;
      border-color:#35465c;
    }
